[NN-Search-Path]
0 = ~/PhylNNsaved/DNA-ModelPred/
1 = ~/PhylNNsaved/AA-ModelPred/
2 = ~/PhylNNsaved/TopPredJC-normalisation-layer/
3 = ~/PhylNNsaved/TopPredK2P-normalisation-layer/
4 = ~/PhylNNsaved/TopPredF81-normalisation-layer/
5 = ~/PhylNNsaved/TopPredF84-normalisation-layer/
6 = ~/PhylNNsaved/TopPredHKY-normalisation-layer/
7 = ~/PhylNNsaved/TopPredGTR-normalisation-layer/
8 = ~/PhylNNsaved/TopPredJTT/
9 = ~/PhylNNsaved/TopPredLG/
10 = ~/PhylNNsaved/TopPredWAG/
11 = ~/PhylNNsaved/TopPredDayhoff/
12 = ~/PhylNNsaved/

